<div class="container"> 
  <div class="row">
    <div class="col-md-3 mt-5">
      <h4 class="text-dark text-center title_bar">商品一覧</h4>
    </div>
    <div class="col-md-7 mt-5">
      <%= link_to new_admin_item_path, class:'float-right' do %>
        <i class="fa-solid fa-circle-plus fa-2x"></i>
      <% end %>
    </div>
  </div>
  <div class="row mx-5 px-5">
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td>
            <%= item.id %>
          </td>
          <td>
            <%= link_to item.name, admin_item_path(item), class: "text-dark" %>
          </td>
          <td>
            <%= item.price.to_s(:delimited) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-2 mx-auto">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>
