<div class="container"> 
  <h2 class="my-5">管理者ログイン</h2>
    <div class="col-xs-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group row">
          <%= f.label 'メールアドレス', class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-3">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        
        <div class="form-group row">
          <%= f.label 'パスワード', class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-3">
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </div>
        
        <div class="form-group row">
          <%= f.label ' ', class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-3">
            <%= f.submit "ログイン", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
        
      <%= render "admin/shared/links" %>
    </div>
</div> 
