<div class="container"> 
  <h2 class="my-5">会員情報編集</h2>
  <div class="col-xs-6">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label '名前' %>
        </div>
        <div class="col-md-3">
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label 'フリガナ' %>
        </div>
        <div class="col-md-3">
          <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label '郵便番号' %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label '住所' %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :address, autofocus: true, autocomplete: "address", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label '電話番号(ハイフンなし)' %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label 'メールアドレス' %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label ' ' %>
        </div>
        <div class="col-md-3">
          <%= f.submit "編集内容を保存", class: "btn btn-success", style: "width: 100%;" %>
        </div>
        <div class="col-md-3">
          <%= link_to "退会する", public_customers_confirm_path, class:"btn btn-danger text-right offset-sm-3" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
