<div class="container"> 
  <h2 class="my-5">ログイン</h2>
  <div class="col-xs-6">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group row">
        <%= f.label 'メールアドレス', class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-6">
          <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label 'パスワード', class: 'col-sm-2 col-form-label' %>
        <div class="col-sm-6">
          <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label ' ', class: 'col-sm-2 col-form-label' %>
        <div class="col-md-3">
          <%= f.submit "ログイン", class: 'btn btn-primary', style: "width: 70%;" %>
        </div>
      </div>
    <% end %>
    <h2 class="my-5">会員登録がお済みでない方</h2>
    <%= render "public/shared/links" %>
  </div>
