<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/af3ebb2bca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
          <%= link_to root_path do %>
            <%= image_tag "logo.png", width: 200, height: nil %>
          <% end %>
          <nav>
          <ul class="navbar-nav ml-auto d-inline-flex flex-row flex-nowrap wf-mplus1p">
            <!--会員でログイン-->
            <% if customer_signed_in? %>
              <li class="welcome">ようこそ、<%= current_customer.last_name %>さん！</li>
              <li class="nav-item d-inline">
                <%= link_to public_customer_path(:id), class: "nav-link mr-2 text-dark" do %>マイページ<% end %>
              </li>
              <li class="nav-item d-inline">
                <%= link_to public_items_path, class: "nav-link mr-2 text-dark" do %>商品一覧<% end %>
              </li>
              <li class="nav-item d-inline">
                <%= link_to public_cart_items_path, class: "nav-link mr-2 text-dark" do %>カート<% end %>
              </li>
              <li class="nav-item d-inline">
                <%= link_to destroy_customer_session_path, class: "nav-link mr-2 text-dark", method: :delete do %>ログアウト<% end %>
              </li>
            <!--管理者ログイン-->
            <% elsif admin_signed_in? %>
              <li class="nav-item d-inline">
                <%= link_to admin_items_path, class: "nav-link mr-2 text-dark" do %>商品一覧<% end %>
              </li>
              <li class="nav-item d-inline">
                <%= link_to admin_customers_path, class: "nav-link mr-2 text-dark" do %>会員一覧<% end %>
              </li>
              <li class="nav-item d-inline">
                <%= link_to admin_path, class: "nav-link mr-2 text-dark" do %>注文履歴一覧<% end %>
              </li>
              <li class="nav-item d-inline">
                <%= link_to destroy_admin_session_path, class: "nav-link mr-2 text-dark", method: :delete do %>ログアウト<% end %>
              </li>
            <!--ログインしてない-->
            <% else %>
              <li class="nav-item d-inline">
                <%= link_to public_about_path, class: "nav-link mr-2 text-dark" do %>About<% end %>
              </li>
              <li class="nav-item d-inline">
                <%= link_to public_items_path, class: "nav-link mr-2 text-dark" do %>商品一覧<% end %>
              </li>
              <li class="nav-item d-inline">
                <%= link_to new_customer_registration_path, class: "nav-link mr-2 text-dark" do %>新規登録<% end %>
              </li>
              <li class="nav-item d-inline">
                <%= link_to new_customer_session_path, class: "nav-link mr-2 text-dark" do %>ログイン<% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
